*{
  box-sizing: border-box;
  /* border: 1px solid; */
  margin:0;
}
.small{
  height: 10vh;
}
.medium{
  height: 50vh;
}
.large{
  height: 80vh;
}
.hot{
  background-color: #464647;
}
.cool{
  background-color: #b0b0b7;
}
.warm{
  background-color: #77777c;
}
div[class^="container"]{
  display: grid;
}
div[class^="container"] *, .posts *{
  border: 1px dashed;
}
.container1{
  grid-template-columns: repeat(auto-fill, 50%);
}
.posts{
  display: grid;
  grid-template-columns: repeat(auto-fill, 33.33%);
}

.container3{
  grid-template-columns: 20% 1fr;
  gap: 20px;
 margin: 5px;
}

.logo-top{
  display: flex;
  color: #fff;
  align-items: center;
}
.logo {
  width: 20%;
  font-size:3.5em; 
  color: #fff;
}
nav{
  display:flex;
  color: #fff;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  justify-content: space-evenly;
  align-items: center;
}
.top-nav-links {
  width: 80%;
  display: flex;
  justify-content: space-around;
}
.top-nav-links li{
  list-style: none;
  display: inline-block;
  padding: 5px;
}
.search-topic{
 border: solid 3px #fff;
 border-radius: 8px;
 width: 110px;
 text-align: center;
 font-size:1.8em; 
}