*{
  box-sizing: border-box;
  /* border: 1px solid; */
  margin:0;
}
.small{
  height: 10vh;
}
.medium{
  height: 50vh;
}
.large{
  height: 80vh;
}
.hot{
  background-color: #464647;
}
.cool{
  background-color: #b0b0b7;
}
.warm{
  background-color: #77777c;
}
div[class^="container"]{
  display: grid;
}
div[class^="container"] *, .posts *{
  border: 1px dashed;
}
.container1{
  grid-template-columns: repeat(auto-fill, 50%);
}
.posts{
  display: grid;
  grid-template-columns: repeat(auto-fill, 33.33%);
}

.container3{
  grid-template-columns: 20% 1fr;
  gap: 20px;
 margin: 5px;
}

.logo-top{
  display: flex;
  color: #fff;
  align-items: center;
}
.logo {
  width: 28px;
  font-size:3em; 
  color: #fff;
}