*{
  box-sizing: border-box;
  /* border: 1px solid; */
  margin:0;
}
.small{
  height: 10vh;
}
.medium{
  height: 50vh;
}
.large{
  height: 80vh;
}
.hot{
  background-color: #464647;
}
.cool{
  background-color: #b0b0b7;
}
.warm{
  background-color: #77777c;
}
div[class^="container"]{
  display: grid;
}
div[class^="container"] *, .posts *{
  /* border: 1px dashed; */
}
.container1{
  grid-template-columns: repeat(auto-fill, 50%);
}
.posts{
  display: grid;
  grid-template-columns: repeat(auto-fill, 33.33%);
}
.post-title{
  width: 85%;
  height: 70px;
  border: solid 1px #464647;
  border-radius: 8px;
  margin: 7px;
}

.post-content{
  color: #292828;
  font-size: 1.4em;
  line-height: 1.2em;
  border: none;
  padding: 5px;
}
.container3{
  grid-template-columns: 20% 1fr;
  gap: 20px;
 margin: 5px;
}

.logo-top{
  display: flex;
  color: #fff;
  align-items: center;
}
.logo {
  width: 20%;
  font-size:3.5em; 
  color: #fff;
}
nav{
  display:flex;
  color: #fff;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  justify-content: space-evenly;
  align-items: center;
}
.top-nav-links {
  width: 80%;
  display: flex;
  justify-content: space-around;
}
.top-nav-links li{
  list-style: none;
  display: inline-block;
  padding: 5px;
}
.search-topic{
 border: solid 3px #fff;
 border-radius: 8px;
 width: 110px;
 text-align: center;
 font-size:1.8em; 
}
.latest-article{
  position: absolute;
  top: 15%;
  left: 45%;
  color: #fff;
  width: 22vw;
  font-size:1.8em;
  text-align: center;
  font-weight: 700;
}
.button{
  margin-top: 6px;
  background-color: #e1e1e2;
  border-radius: 6px;
}
.btn-small { height: 5vh; width: 6vw; }
.btn-medium { height: 9vh; width: 12vw; }
.btn-large { height: 9vh; width: 20vw; }
.btn-x-large { height: 9vh; width: 26vw; }
.sidebar{
  display: flex; 
  justify-content: center;
  align-items: center; 
  flex-direction: column;
  font-size: 1.4em;
  line-height: 1.4em;
  border-radius: 7px;
  padding: 4px;
  text-align: center;
}
.jumbotron{
  
}